.places__paragraph-container {
  grid-area: text;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

/*для планшетов*/
@media screen and (max-width: 768px) {
  .places__paragraph-container {
    gap: 25px;
  }
}

@media screen and (max-width: 630px) {
  .places__paragraph-container {
    margin-right: 16px;
    margin-left: 16px;
  }
}
