/*часто встречающиеся вертикальные отступы выделим в отдельный миксовый класс*/
/*лучше будем использовать margin, т.к. padding влияет на высоту самого блока*/
.common-section {
  margin: 0 auto 92px auto;
}

/*для планшетов*/
@media screen and (max-width: 768px) {
  .common-section {
    margin-bottom: 88px;
  }
}

/* для мобильных */
@media screen and (max-width: 425px) {
  .common-section {
    margin-bottom: 64px;
  }
}
