.footer {
  margin-left: 48px;
  margin-right: 48px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}

/*для планшетов*/
@media screen and (max-width: 768px) {
  .footer {
    margin-left: 24px;
    margin-right: 24px;

  }

}

/*нужен промежуточный запрос, чтобы меню как можно дольше выводилось одной строкой*/
@media screen and (max-width: 670px) {
  .footer {
    flex-direction: column;
    gap: 48px;
    justify-content: start;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    margin-left: 16px;
    margin-right: 16px;
  }
}
