.footer__links {
  list-style-type: none;
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

/* для мобильных */
@media screen and (max-width: 425px) {
  .footer__links {
    flex-direction: column;
    /*в макете 32px, а Perfect Pixel идеально на 30px*/
    gap: 30px;
  }
}
